<%- include('./layout/emailLayout', {
    title: 'Reset Your Password',
    content: `
        <p>You requested a password reset for your Aplet360 account. Click the button below to reset your password:</p>

        <div style="text-align: center;">
            <a href="${resetUrl}" class="button">Reset Password</a>
        </div>

        <div class="alert">
            <p>If you didn't request this, please ignore this email or contact support if you're concerned.</p>
            <p>This link will expire in 10 minutes for security reasons.</p>
        </div>

        <p>If you're having trouble clicking the button, copy and paste the URL below into your web browser:</p>

        <p style="word-break: break-all;">${resetUrl}</p>
    `
}) %>