        <div class="email-footer">
            <p>This is an automated email from the Aplet360 system.</p>
            <p>Please do not reply directly to this email.</p>
        </div>
    </div>
</body>
</html>
